body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.keyBoard{
    height: 350px;
    width: 85%;
    background-color: silver;
    border: 5px steelblue outset;

}   

.row1{
    height: 9.09%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.row1 *{
    background-color: black;
    color: white;
    height: 75%;
    width: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px white solid;
    border-style: outset;
} 

.row2{
  
    height: 18.18%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.row2 *{
    background-color: black;
    color: white;
    height: 90%;
    width: 6%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px white solid;
    border-style: outset;
    
}

#backspaces{
    width: 10%;
}

#§{
    width: 4%;
}

#tab{
    width: 7%;
}

#caps{
    width: 8.5%;
}

#enter{
    width: 7%;
}

#lowE{
    height: 100%;
    transform: translate(-0.7px, -2.7px);
    border-style: none outset outset outset;
}

#Lshift{
    width: 14%;
}

#window{
    transform: rotate(45deg);
}

#spacesbar{
    width: 32%;
}

#arrowup{
    height: 40%;
    transform: translate(0px, -53%);
}

#arrowdown{
    height: 40%;
    transform: translate(648.5%, -180%);
}